/*
 * Override Googles Page Creator styles
 */
/*

/* Denne er ikke definert av GPC. Vi setter den til det samme som for a:link */
a:visited {
    color: #f6952e;
}
h4 {
  font-size: 1.0em;
}
/*
#extraDiv6 {
    display: visible !important;
}
*/

/*
 * Tomek Garbiak's list
 * http://css.maxdesign.com.au/listamatic/horizontal28.htm
 */

#navcontainer {
    margin: 0;
    padding: 0;
    height: 22px;
    font: 11px;
    /* font: 11px Verdana, sans-serif; */
    width: 100%;
    border-bottom: 1px solid #bbb;
    list-style-type: none;
    /* background: #fff; */
}

#navlist li {
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    display: block;
}

#navlist li a, #navlist li a:link {
    /* background: #fff; */
    color: #444;
    text-decoration: none;
    padding: 3px 7px 3px 7px;
    display: block;
}

#navlist li a:hover {
    /* color: #039; */
    border-bottom: 3px solid #bbb;
    cursor: pointer;
    background: #eee;
}

#navlist li a.current, #navlist li a.current:link {
    color: #000;
    cursor: default;
    font-weight: bold;
    border-bottom: 3px solid #999;
}

#navlist li a.current:hover {
    border-bottom: 3px solid black;
    background: #eee;
}
